<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/01_Basics_of_Python_Programming/Strings%20/Task_3_Loops%2BStrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
num = int(input('Enter number '))

for i in range(num, 0, -1):
  for j in range(i, 0, -1):
    print(j, end = ' ')
  print()

Enter number 6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
num = int(input('Enter number '))

for i in range(1, num+1):
  for j in range(0, i):
    print('*', end = ' ')
  print()

for k in range(num, 1, -1):
  for l in range(k, 1, -1):
    print('*', end = ' ')
  print()

Enter number 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
       * *
      * * *
   * * * * * * *
* * * * * * * * *

In [ ]:
num = int(input('Enter number '))

for i in range(1, num+1):
  print(' '*num , end = '')
  print('* '*i)
  num = num-1

Enter number 5
     *
    * *
   * * *
  * * * *
 * * * * *

### `Problem 3`:Write a program to print the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [ ]:
num = int(input('Enter number '))

for i in range(1, num+1):
  for j in range(num, i, -1):
    print(' ', end = ' ')
  for k in range(1, i+1):
    print('*', end = ' ')
  for l in range(1, i):
    print('*', end =' ')
  print()

Enter number 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
num = int(input('Enter number '))

for i in range(1, num+1):
  for j in range(i, 0, -1):
    print(j, end = ' ')
  print()

Enter number 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [ ]:
x = int(input('Enter the variable '))
n = int(input('Enter the number of terms '))
sum = 1
s = '1 +'
for i in range(2, n+1):
  sum = sum + (x**i)/i
  s = s + 'x^{}/{} +'.format(i,i)
print(s[:-1])
print('Sum of the series till {}th term is {}'.format(n, sum))

Enter the variable 12
Enter the number of terms 5
1 +x^2/2 +x^3/3 +x^4/4 +x^5/5
Sum of the series till 5th term is 55599.4

### `Problem 6`: The natural logarithm can be approximated by the following series.

If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.

In [ ]:
x = int(input('Enter the variable '))
n = int(input('Enter the number of terms '))
sum = 0
s = ''

for i in range(1, n+1):
  sum = sum + (1/i)*((x-1)/x)**i
  s = s + '(1/{})*((x-1)/x)^{} +'.format(i,i)
print(s[:-1])
print('Sum of the series till 7th term is {}'.format(sum))

Enter the variable 9
Enter the number of terms 4
(1/1)*((x-1)/x)^1 +(1/2)*((x-1)/x)^2 +(1/3)*((x-1)/x)^3 +(1/4)*((x-1)/x)^4
Sum of the series till 7th term is 1.6741350403901842

### `Problem 7` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [ ]:
x = int(input('Enter the variable '))
n = int(input('Enter the number of terms '))

sum = 0
start = x
for i in range(0,n):
  if i < n-1:
    print(start,end='+')
  else:
    print(start)

  sum = sum + start
  start = start*10 + x

print('sum of above series is', sum)

Enter the variable 2
Enter the number of terms 5
2+22+222+2222+22222
sum of above series is 24690

###`Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for m in range(1,5):
        print(i,j,k,m)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

###`Problem 9`: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [ ]:
number = int(input('Enter the number '))

L = []

while number != 0:

  rem = number % 2
  number = number // 2
  L.append(rem)
L.reverse()
int_List = int("".join(str(j) for j in L))
print('binary value is {}'.format(int_List))

Enter the number 17
binary value is 10001

###`Problem 10`: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [ ]:
a = int(input('Enter 1st number '))
b = int(input('Enter 2nd number '))

# HCF formula is: HCF(a, b) = HCF(b, a % b)
# when b will be 0, then HCF will be value of a
x = a
y = b
while y!= 0:
  mod = x % y
  x = y
  y = mod
else:
  HCF = x

print('HCF({}, {}) is {}'.format(a, b, HCF))

# calculating LCM
# formula to calculate LCM: LCM(a, b) = (a Ã— b) / HCF(a, b)
LCM = (a * b) / HCF
print('LCM({}, {}) is {}'.format(a, b, LCM))

Enter 1st number 48
Enter 2nd number 18
HCF(48, 18) is 6
LCM(48, 18) is 144.0

### **Problem 11:** Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Data science mentorship program
```

`Output:`
```
DSMP
```

In [ ]:
s = input('Enter the string ')

L = []

for i in s.split():
  L.append(i[0].upper())

print(''.join(L))

Enter the string greatest Of all time
GOAT

###`Problem 12`: Append second string in the middle of first string

`Input:`
```
campusx
data
```
`Output`:

```
camdatapusx
```

In [ ]:
s1 = input('Enter 1st string ')
s2 = input('Enter 2nd string ')


mid  = len(s1) // 2
s1_1st_half = s1[0: mid]
s1_2nd_half = s1[mid: len(s1)]

print(s1_1st_half+s2+s1_2nd_half)

Enter 1st string ayesha
Enter 2nd string noreen
ayenoreensha

### ``Problem 13``:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [ ]:
s = input('Enter a string ')

lower = ''
upper = ''
for i in s:
  if i.islower():
    lower += i
  else:
    upper += i

print(lower+upper)

Enter a string AyeSHa
yeaASH

### `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75
```

In [ ]:
s = input('Enter alphanumeric string ')

sum = 0
count = 0
for i in s:
  if i.isdigit():
    sum += int(i)
    count += 1
Average = sum / count
print(sum)
print(Average)

Enter alphanumeric string hello123word789
30
5.0

### `Problem 15:` Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [ ]:
s = input('Enter string ')

for i in s:
  if i.isdigit():
    print(i, end = '')

Enter string I am 22 years and 4 months old
224

### `Problem 16`: Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

**Example 1:**

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [ ]:
s = input('Enter string ')

if len(s) % 2 == 0:
  s1 = s[ :len(s)/2]
  s2 = s[len(s)/2: ]
else:
  s1 = s[ :len(s)//2]
  s2 = s[len(s)//2 + 1: ]
if s1 == s2:
  print('Symmetrical')
else:
  print('Not Symmetrical')

Enter string khovkho
Symmetrical

### `Problem 17`: Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is laxmi
```

`Output:`

```bash
laxmi is name my
```

In [ ]:
s = input('Enter the string ')

L = []

for i in s.split():
  L.append(i)

L.reverse()
print(' '.join(L))

Enter the string hy akhi how are you doing
doing you are how akhi hy

### `Problem 18`: Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

**Example 1:**

`Input:`

```bash
A = "apple banana mango"
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [ ]:
A = input('Enter 1st sentence ')
B = input('Enter 2nd sentence ')
L = []
for i in A.split():
  if i not in B and i not in L:
    L.append(i)
for j in B.split():
    if j not in A and j not in L:
      L.append(j)

print(', '.join(L))

Enter 1st sentence strawbery apple banana grapes
Enter 2nd sentence watermelon banana grapes kiwi
strawbery, apple, watermelon, kiwi

### `Problem 19`: Word location in String.

**Statement:** Find a location of a word in a given sentence.

**Example 1:**

`Input:`

```bash
Sentence: We can learn data science through campusx mentorship program.

word: campusx
```

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [ ]:
sentence = input('Enter a sentence ')
word = input('Enter a word to find location ')

count = 1

for i in sentence.split():
  if i == word:
    count +=1
    break

print('Location of the word {} is {}'. format(word, count))

Enter a sentence loving yourself isn't vanity it's sanity
Enter a word to find location yourself
Location of the word yourself is 2

### `Problem 20`: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [ ]:
s = input('Enter string of characters ')

result = ''

for i in s:
  if i not in result:
    result += i
print('characters after removing duplicates ', result)

Enter string of characters banana
characters after removing duplicates  ban