<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/OOP%20in%20Python/%20Object%20%26%20Classes/%20Topic_7_OOP(part_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [1,2,3]

L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
S = 'Hello'
S.append('x')

AttributeError: 'str' object has no attribute 'append'

In [ ]:
# Everything in python is object

In [ ]:
L = [1,2,3,4]

print(type(L))

<class 'list'>

In [ ]:
L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
# if we look at above two cells, it tells that list, strings, array everything is bulit-in classes
# and the variable L is object of class list [1,2,3,4]

In [ ]:
# class is set of rules and object follows that.

In [ ]:
# class's set of rules contain two things:  -->attribute/data/property     -->Functions/Behaviors

In [ ]:
# object is an instance of class

In [ ]:
# syntax to create an object

# objectname = classname()

In [ ]:
# if L is object then why it's created different from above syntax
# it's bcz of object literals

L = [1,2,3]

In [ ]:
# another syntax to create a list
# exact like    --> objectname = classname()

L = list()
L

[]

In [ ]:
s = str()
s

''

In [ ]:
# pascal case  --> if we have 2 words in classname
# like atm machine
# syntax-->  class AtmMachine:

In [ ]:
# creating class

class Atm:

  # constructor(special function)   -->superpower-- don't need to call function, when class object is created, it automatically exucuted.
  def __init__(self):
    # print(id(self))
    self.pin = ''        # data
    self.balance = 0
    self.menu()


  def menu(self):
    user_input = input("""
    Hey! How can I help You?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    """)

    if user_input == '1':
      # create pin
      self.create_pin()
    elif user_input == '2':
      # change pin
      self.change_pin()
    elif user_input == '3':
      # check balance
      self.check_balance()
    elif user_input == '4':
      # withdraw
      self.withdraw()
      pass
    else:
      exit()

  def create_pin(self):
    user_pin = input('Enter your pin ')
    self.pin = user_pin
    user_balance = int(input('Enter your balance '))
    self.balance = user_balance

    self.menu()

  def change_pin(self):
    old_pin = input('Enter old pin ')
    if old_pin == self.pin:
      new_pin = input('Enter new pin ')
      self.pin = new_pin
      print('Pin changed successfully.')
      self.menu()
    else:
      print("Can't change your pin")
      self.menu()

  def check_balance(self):
    user_pin = input('Enter your pin ')
    if user_pin == self.pin:
      print('your balance is', self.balance)
    else:
      print('bro zoom at your pin')
    self.menu()

  def withdraw(self):
    user_pin = input('Enter the pin ')
    if user_pin == self.pin:
      # allow to withdraw
      amount = int(input('Enter the amount '))
      if amount <= self.balance:
        self.balance = self.balance - amount
        print('withdrawl successful.balance is',self.balance)
      else:
        print('Insufficient balance')
    else:
      print('Incorrect pin')
    self.menu()

In [ ]:
# we can never execute a class untill or unless we create it's object
# even though the class contain 1000 lines of code

In [ ]:
# creating object
obj = Atm()

132094062404928

In [ ]:
print(id(obj))

132094062404928

In [ ]:
# id of self and obj are same that's mean self is nothing else, but the current object of the class itself.

In [ ]:
# Atm class object
print(type(obj))

<class '__main__.Atm'>

In [ ]:
L = [1,2,3]
len(L) # function ->bcos it is outside the list class
L.append(4)# method -> bcos it is inside the list class

In [ ]:
# when to use constructore: write code when we don't want to give control to user or customer
# constructor code execute automatically
# constructor is used to write configuration related codes.
class Temp:

  def __init__(self):
    print('hello')

obj = Temp()

hello

### Golden rule of OOP

In [ ]:
# All the members of the class, attributes of methods, all of them can only be accessed by
# object of that class, not even the methods within the function can talk to eachother.

# Self: if we want to access a method of a class then we need to take help of self.
# self is nothing but the current object ititself.
# we can write any name instead of self

In [ ]:
3/4*1/2

0.375

In [ ]:
# creating our own datatype ---> Fraction

In [ ]:
class Fraction:
  # parameterized constructor
  def __init__(self,x,y):
    self.num = x
    self.den = y
  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  def __add__(F1,F2):
    new_num = F1.num*F2.den + F2.num*F1.den
    new_den = F1.den*F2.den
    return '{}/{}'.format(new_num,new_den)

  def __sub__(F1,F2):
    new_num = F1.num*F2.den - F2.num*F1.den
    new_den = F1.den*F2.den
    return '{}/{}'.format(new_num,new_den)

  def __mul__(F1,F2):
    new_num = F1.num*F2.num
    new_den = F1.den*F2.den
    return '{}/{}'.format(new_num,new_den)

  def __truediv__(F1,F2):
    new_num = F1.num*F2.den
    new_den = F1.den*F2.num
    return '{}/{}'.format(new_num,new_den)

  def convert_to_decimal(self):
    return self.num/self.den

In [ ]:
fra1 = Fraction(3,4)
fra2 = Fraction(1,2)

In [ ]:
#print(fra1)     # -->python don't know how to print object

<__main__.Fraction object at 0x7dcee2a9a540>

In [ ]:
print(fra2)   # printing an object  --> __str__ code will automatically execute.

1/2

In [ ]:
fra1.convert_to_decimal()

0.75

In [ ]:
print(fra1 + fra2)
print(fra1 - fra2)
print(fra1 * fra2)
print(fra1 / fra2)

10/8
2/8
3/8
6/4

In [ ]:
s1={1,2,3}
s2={3,4,5}

s1 + s2
# giving error bcz whoever write set code he didn't write about how to sum them.

TypeError: unsupported operand type(s) for +: 'set' and 'set'