<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/01_Basics_of_Python_Programming/Python_Fundamentals/Task_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1 :- Print the given strings as per stated format.

Given strings:

"Data" "Science" "Mentorship" "Program"

"By" "CampusX"

Output:

Data-Science-Mentorship-Program-started-By-CampusX

In [ ]:
print("Data", "Science", "Mentorship", "Program", sep = '-', end = '-started-')
print("By","CampusX", sep = '-')

Data-Science-Mentorship-Program-started-By-CampusX

# Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
C = float(input('Enter value in celsius scale: '))
F = (C*(9/5))+32
print('Given value in Fahrenheit is:', F, 'F')

Enter value in celsius scale: 34
Given value in Fahrenheit is: 93.2 F

# Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
#take two numbers as input from user

num1 = int(input('Enter 1st number: '))
num2 = int(input('Enter 2nd number: '))
#swap the numbers
num3 = num1
num1 = num2
num2 = num3
# print the result
print('1st number after swapping: ', num1)
print('2nd number after swapping: ', num2)

Enter 1st number: 23
Enter 2nd number: 34
1st number after swapping:  34
2nd number after swapping:  23

# Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# take Point A, x1 and y1
x1 = int(input('x1 corinate of Point A: '))
y1 = int(input('y1 corinate of Point A: '))
# take Point B, x2 and y2
x2 = int(input('x2 corinate of Point B: '))
y2 = int(input('y2 corinate of Point B: '))
# euclidean distance formula

ED = (((x2 - x1)**2) + ((y2 - y1)**2))**(1/2)
#print the result
print('Euclidean distance between two Coordinates: ', round(ED, 2))

x1 corinate of Point A: 2
y1 corinate of Point A: 3
x2 corinate of Point B: 6
y2 corinate of Point B: 0
Euclidean distance between two Coordinates:  5.0

# Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# take input from user of value of priciple = P
P = int(input('Enter value of principle: '))
# rate of interest = I
R = int(input('Enter rate of interest: '))
# time period = T
T = int(input('Enter time period: '))
# formula to calculate simple interest = SI
SI = (P*R*T) / 100
# print the result
print('Simple Interest: ', SI)

Enter value of principle: 45
Enter rate of interest: 23
Enter time period: 6
Simple Interest:  62.1

# 6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example: Input: heads -> 4 legs -> 12

Output: dogs -> 2 chicken -> 2

Let’s define:

    Let C be the number of chickens.

    Let D be the number of dogs.

    Let H be the total number of heads.

    Let L be the total number of legs.

From the problem:

    Heads Equation:
    Since each animal has one head:
                          C+D=H
    Legs Equation:
    Chickens have 2 legs and dogs have 4 legs:
    2C+4D=L

Solving the equations:

From Equation 1:

C=H−D

Substitute into Equation 2:

  2(H−D)+4D=L

Simplify:

2H−2D+4D=L⇒2H+2D=L

Solve for D:

2D=L−2H⇒D=(L−2H)/2


Then, find C:

C=H−D

In [ ]:
# take number of heads and legs from the user
H = int(input('Enter total number of Heads: '))
L = int(input('Enter total number of Legs: '))
# Calculate number of Dogs using equation: D=(L−2H)/2
D = (L-2*H)/2
# Calculate number of Chickens using equation: C=H−D
C = H - D
# print number of Dogs and Chickens
print('Total no of dogs: ', D)
print('Total no of Chickens: ', C)

Enter total number of Heads: 2
Enter total number of Legs: 8
Total no of dogs:  2.0
Total no of Chickens:  0.0

# Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# take input from the user of n natural number
n = int(input('Enter n natural number: '))
# calculate the sum of square using formula: S = n(n+1)(2n+1)​ / (n+1)
S = (n*((n+1)*(2*n+1))) / (n+1)
# print out the result
print('Sum of squares of first n natural number: ', S)

Enter n natural number: 5
Sum of squares of first n natural number:  55.0

# Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# take input from the user of 1st two terms &
a1 = int(input('Enter 1st term of the series: '))
a2 = int(input('Enter 2nd term of the series: '))
# nth term that we want to find
n = int(input('Enter nth term of arithmatic series: '))
# calculate the distance between two terms: d = a2 - a1
d = a2 - a1
# calculate nth term oth arithmatic series using formula: an​=a1​+(n−1)⋅d
an = a1+(n-1)*d
# printing out the result
print(f'{n}th term of the series is: {an}')

Enter 1st term of the series: 5
Enter 2nd term of the series: 9
Enter nth term of arithmatic series: 10
10th term of the series is: 41

# Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# take 1st fraction numerator and denominator from user
n1 = int(input("Enter 1st fraction's numerator: "))
d1 = int(input("Enter 1st fraction's denominator: "))
# take 2nd fraction numerator and denominator from user
n2 = int(input("Enter 1st fraction's numerator: "))
d2 = int(input("Enter 1st fraction's denominator: "))
# find least common diviser: LCD = d1 * d2
LCD = d1 * d2
# 1st fraction value
f1 = ((n1 * d2)/ (d1 *d2)) * LCD
#2nd fraction value
f2 = ((n2 * d1) / (d2 * d1)) * LCD
# calculate sum of the fractions
S = (f1 + f2) / LCD
print('Sum of the given two fraction is: ', S)

Enter 1st fraction's numerator: 2
Enter 1st fraction's denominator: 5
Enter 1st fraction's numerator: 3
Enter 1st fraction's denominator: 4
Sum of the given two fraction is:  1.15

# Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

Input:
Dimensions of the milk tank
H = 20cm, L = 20cm, B = 20cm

Dimensions of the glass
h = 3cm, r = 1cm

In [ ]:
import math
# taking dimensions of tank and glass from user, finds out how many glasses of milk can be obtained from a milk tank
# steps
# taking dimensions of milk tank
# height of tank
H = int(input("Enter height of tank: "))
# length of tank
L = int(input("Enter length of tank: "))
# breadth of tank
B = int(input("Enter the breadth of tank: "))
# calculating volume of milk tank
VOT = H * L *B
print(f'Total volume of a tank is: {VOT}cm')
# taking dimensions of glass
# radius of glass
r = int(input("Enter the radius of glass: "))
# height of glass
h = int(input("Enter the height of glass: "))
# applying formula to calculate the volume of glass
# volume = pi*(r^2)*h
VOG = 3.14*(r**2)*h
print(f'Total volume of a glass is: {VOG}cm')
# number of milk glass we can obtain from milk tank
No_of_glass = VOT / VOG
# displaying the output
print(f'No. of glasses of milk obtained from milk tank are: {math.floor(No_of_glass)}')

Enter height of tank: 10
Enter length of tank: 19
Enter the breadth of tank: 10
Total volume of a tank is: 1900cm
Enter the radius of glass: 5
Enter the height of glass: 2
Total volume of a glass is: 157.0cm
No. of glasses of milk obtained from milk tank are: 12

In [ ]:
3