<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/01_Basics_of_Python_Programming/Python_Fundamentals/Topic_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Python Output

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(Data science)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-4-1080ea809e37>, line 1)

In [ ]:
print("Data science")

Data science

In [ ]:
print(33)

33

In [ ]:
print(3.3)

3.3

In [ ]:
print(True)

True

In [ ]:
print('Data sceience', 3, 3.5, False)

Data sceience 3 3.5 False

In [ ]:
print('Data sceience', 3, 3.5, False, sep = '/')

Data sceience/3/3.5/False

In [ ]:
print('Data')
print('Science')

Data
Science

In [ ]:
print('Data', end = '_')
print('Science')

Data_Science

2. Data Types
# how many sorts of data python can work with/ can deal

In [ ]:
#integer
print(6)

# python integer range. python can work with large numbers easily.
#1*10^308
print(1e308)

#above range become infinite
print(1e309)

6
1e+308
inf

In [ ]:
#decimal / float
print(3.9)

#decimal number limit in python
print(1.7e308)
print(1.7e309)

3.9
1.7e+308
inf

In [ ]:
#Boolean
print(True)
print(False)

True
False

In [ ]:
# text / string
print('Data Science')

#python doesn't deal with the data type char / character

Data Science

In [ ]:
# complex, it contains real (5) and imaginary(6j) part
print(5+6j)

(5+6j)

In [ ]:
# List --> C = array
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuples
print((1,3, 5,7))

(1, 3, 5, 7)

In [ ]:
# Sets
print({3, 4, 5})

{3, 4, 5}

In [ ]:
# Dictionary. It's key value pair
print({'name' : 'Ayesha', 'age': 23, 'gender' : 'Female'})

{'name': 'Ayesha', 'age': 23, 'gender': 'Female'}

In [ ]:
# type function
#type(6)
type(6.4)
type('data')
type(True)
type(4+5j)
type([1,2,3])

list

3. variables

In [ ]:
# variables are containers in which we store any sort of information

# Static vs Dynamic Typing
# Static vs Dynamic Binding
#stylish declaration techniques

In [ ]:
# creating variable
name = 'Ayesha Noreen'
print(name)

a = 3
b = 5
print(a + b)

Ayesha Noreen
8

In [ ]:
# Static Typing
# while declaring or creating a variable we need to tell the data
# type of that particular variable,  languages like: java, C, C++
int a = 4;

# Dynamic typing
# whole creating the variable we don't need to tell the data type of variable
# interpreter smart enough that it automatically fetch the data typeof variable
# Python spport dynamic typing

a = 9

In [ ]:
# Dynamic Binding
# In pyhton when we create a variable it doesn't holds the fixed data type

a = 9
print(a)

a = 'Data Science'
print(a)

# Static Binding
# when we create a variable it's data type will be fixed throughout the whole program
int a = 9;

9
Data Science

In [ ]:
a = 1
b = 2
c = 3
print(a, b, c)

1 2 3

In [ ]:
a, b, c = 1, 2, 3
print(a,b, c)

1 2 3

In [ ]:
a = b = c = 6
print(a, b, c)

6 6 6

# Compilers / Interpreter

computer is unabletounderstand high level languages / coding formate, so compiler is a medium that converts our code intobinary language like 1/0. compiler compile the whole program at once, on the otherhand interpreter convert the code into binary language line by line.compilers are relatively fast than interpreter

# 4. Keywords vs Identifiers

In [ ]:
# keyword are the reserved words by compiler for it's own uderstanding of
# the program, while compiling the program

In [ ]:
# Identifiers are the names that we give in the program like, variable name, function or class name.

# rules for identifiers:
# 1. can't start with numbers
# 2. can't be keyword names
# 3. special character just uderscore (_)

# 5. User Input

In [ ]:
# Static vs Dynamic Softwares

# Static Softwares: softwares that don't intract with user just give information like, clock, calender, student portal

# Dynamic Softwares: which intract users like, youtube. 99% softwares are dynamic

In [ ]:
# Take 2 numbrs input from the user
# and store these numbers in a variable
num1 = input('Enter 1st number: ')
num2 = input('Enter 2nd number: ')

# Add these two numbers
result = num1 + num2
print(type(num1), type(num2))
# print the result
print(result)

# why the result is in string form? pyhton take input in string data type, bcz it's the universal formate

Enter 1st number: 45
Enter 2nd number: 56
<class 'str'> <class 'str'>
4556

# 6. Type conversion

In [ ]:
# Implicit vs Explicit

print( 5 + 5.7)
print(type(5), type(5.7))

# two different data types but pyhton intelligent enough that if mathematiclly possible so it should work
# implicit method not works all the time, here is how?
print(4 + '4')

10.7
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Explicit
int('4')

# it also doesn'tworkall the time, like
#int(5+6j)

# int to string
str(54)

# integer to float
float(6)

6.0

In [ ]:
## Take 2 numbrs input from the user
# and store these numbers in a variable
num1 = input('Enter 1st number: ')
num2 = input('Enter 2nd number: ')

# Add these two numbers
result = int(num1) + int(num2)
# print the result
print(result)

print(type(num1), type(num2)) # datatype will be still str with this method of explicit convrsion,
# bcz python doesn't change original value,creats new & performon that.

Enter 1st number: 67
Enter 2nd number: 78
145
<class 'str'> <class 'str'>

In [ ]:
## Take 2 numbrs input from the user
# and store these numbers in a variable
num1 = int(input('Enter 1st number: '))
num2 = int(input('Enter 2nd number: '))

# Add these two numbers
result = num1 + num2
# print the result
print(result)

print(type(num1), type(num2))

Enter 1st number: 67
Enter 2nd number: 78
145
<class 'int'> <class 'int'>

# 7. Literals

In [ ]:
# literals are just simply values that we store in variables.
# like a = 4, and here 4 is the literal

In [ ]:
# Different methods to represent literals
# Integers

a = 0b1010    # binary representation
b = 200       # decimal representation
c = 0o360     # Octal literal
d = 0x12c     # Hexadecimal literal

# Float

flt_1 = 34.98
flt_2 = 1.6e4   # 1.6*10^4      to represent large numbers
flt_3 = 1.6e-4  # 1.6*10^-4     to represent smaller numbers

# Complex literals

x = 3+4j

print(a, b, c, d)
print(flt_1)
print(flt_2)
print(flt_3)
print(x.real, x.imag)

10 200 240 300
34.98
16000.0
0.00016
3.0 4.0

In [ ]:
# Strings
str1 = 'Python programming'
str2 = "Python Programming"
multiline_str = """Python programming, the best part about this language is that very easy to adapt and come with batteries"""

#unicode
unicode = u"\U0001F600\U0001F600\U0001F601\U0001F60E"

#raw string
raw_str = r"python \n programming"
print(str1)
print(str2)
print(multiline_str)

print(unicode)

print(raw_str)

Python programming
Python Programming
Python programming, the best part about this language is that very easy to adapt and come with batteries
😀😀😁😎
python \n programming

In [ ]:
# python treats Boolean as numbers inmathematical expressions

a = True + 7
b = False + 4

print('a: ' , a)
print('b: ' , b)

a:  8
b:  4

In [ ]:
# None: we use it when we need a variable to use in future

a = None
b = 4
c = 6

print(a, b, c)

None 4 6