<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/02_Python_Data_Types/Python_List/Task_4_Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# code
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

new_list = [[i,j] for (i,j) in zip(list1, list2)]
print(new_list)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [ ]:
# code
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

temp_list = []

new_list = []

for i in range(len(list1)):
    temp_list = [list1[i], list2[i]]
    new_list.append(temp_list)


print(new_list)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# code
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# code
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i in range(len(candy_list)):
  print(candy_list[i] + '-' + str(no_of_items[i]))

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [ ]:
# code
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i,j in zip(candy_list, no_of_items):
  print(i , '-', j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# code
list1 = [1,2,3,4,5,6]

sum = 0
new_list = []

for i in list1:
  sum = sum + i
  new_list.append(sum)
print(new_list)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
# code

Lst = [2,4,6,10,1]
new_list = []
sum = 0

for i in range(len(Lst)):
  for j in range(len(Lst)):
    if Lst[j] >= Lst[i]:
      sum = sum + Lst[j]
  new_list.append(sum)
  sum = 0

print(new_list)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
# code
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

new_lst = []

[new_lst.append(i) for i in num1 if i not in new_lst and i in num2]
new_lst.sort()
print(new_lst)

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# code
data = ['1ac21', '23fg', '456', '098d','1','kls']

products = []

for item in data:
  product = 1
  found_digit = False

  for ch in item:
    if ch.isdigit():
      product *= int(ch)
      found_digit = True

  if not found_digit:
    product = 1

  products.append((product, item))

products.sort(reverse=True)

sorted_list = [item[1] for item in products]
print(sorted_list)

['456', '23fg', '1ac21', 'kls', '1', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [ ]:
# code
str_list = ['CampusX is a channel', 'for data-science', 'aspirants.']

new_list = []

for item in str_list:
  temp = ''

  for ch in item:
    if ch != ' ':
      temp += ch
    else:
      new_list.append(temp)
      temp = ''

  new_list.append(temp)

print(new_list)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [ ]:
# code
str_list = ['CampusX is a channel', 'for data-science', 'aspirants.']
inp = ' '
new_list = []

for i in str_list:
  new_list.extend((i.split(inp)))
print(new_list)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [ ]:
# code
ch_list = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

item_list = ' '.join([''.join(item) for item in ch_list])
print(item_list)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
# code
lst = ['campusxIs', 'bestFor', 'dataScientist']

space_list = []

for item in lst:
  temp = ''
  for ch in item:
    if ch.islower():
      temp += ch
    elif ch.isupper() and ch != item[0]:
      temp += ' ' + ch
    elif ch.isupper() and ch == item[0]:
      temp +=  ch
  space_list.append(temp)

print(space_list)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
# code
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]

new_list = []

[new_list.append(i) for i in l1 if i not in new_list]
[new_list.append(j) for j in l2 if j not in new_list]

print(new_list)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# code
number = [[1,2,3],[4,5,6],[7,8,9]]

max_list = [max(sub_list) for sub_list in number]

print(max_list)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# code
matrix = [[j+3*i for j in range(0,3)] for i in range(0,3)]
print(matrix)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>
## output
[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# code

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

transpose_matrix = [[item[i] for item in matrix] for i in range(len(matrix))]
print(transpose_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# code
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

list_1D = [i for sub_list in matrix for i in sub_list]
print(list_1D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]