<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/01_Basics_of_Python_Programming/Operators_If-else_Loops/Task_2_operators%2C_if_else%2C_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

    Salary(Lakhs) : Tax(%)

    Below 5 : 0%
    5-10 : 10%
    10-20 : 20%
    aboove 20 : 30%

In [ ]:
# Enter salary
CTC = int(input('Enter CTC '))

# salary after income tax deduction

# 0% tax reduction
if CTC < 500000:
  tax_deducted_salary = CTC - CTC * 0
# 10% tax reduction
elif CTC >= 500000 and CTC < 1000000:
  tax_deducted_salary = CTC - CTC * 0.10
# 20% tax reduction
elif CTC >= 1000000 and CTC <= 2000000:
  tax_deducted_salary = CTC - CTC * 0.20
# 30% tax deduction
else:
  tax_deducted_salary = CTC - CTC * 0.30

# CTC-HRA(10%), DA(5%), PF(3%) -->Income_tax = 18%
net_salary = tax_deducted_salary - tax_deducted_salary * 0.18
in_hand_salary = net_salary / 12
# in hand monthly salary
print('In hand monthly salary after deduction of all taxes:', round(in_hand_salary, 2))

Enter CTC 1200000
In hand monthly salary after deduction of all taxes: 65600.0

# Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# a triangle could be formed if each angle is greater than 0
# and sum of all the angles is 180

# take three angles input from user

A = int(input('Enter angle A '))
B = int(input('Enter angle B '))
C = int(input('Enter angle C '))

sum_of_angles = A + B + C
# print('sum of angle A + B + C is: ', sum_of_angles)
if sum_of_angles == 180:
  if A > 0 and B > 0 and C > 0:
    print("It's a triangle.")
  else:
    print("it's not a triangle")
else:
  print("it's not a triangle")

Enter angle A 93
Enter angle B 90
Enter angle C -3
it's not a triangle

# Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# take two inputs from user, selling price = SP and cost price = CP

CP = int(input('Enter Cost price '))
SP = int(input('Enter selling price '))

# if selling price is greater calculate profit
# and if cost price is greater than selling price then calculate loss
# if selling and cost prices are equal than it's neither loss nor profit

if SP > CP:
  profit = SP - CP
  print(f'You got {profit}$ profit')
elif CP > SP:
  loss = CP - SP
  print(f'You got {loss}$ loss')
else:
  print("It's neither profit nor loss")

Enter Cost price 67
Enter selling price 67
It's neither profit nor loss

# Problem 4: Write a menu-driven program -

    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit

In [ ]:
# take input from user about options
print('''
Following are different options for conversions:
1. cm to ft
2. km to miles
3. USD to INR
4. exit
''')
# enter an option or value for the conversion of different scales


op = int(input('Select the option '))
#apply different conditions for menu
while op != 4:
  a = int(input('Enter the value for conversion '))
  if op == 1:
    ft = float(a / 30.48)
    print(f'{a} cm after conversion is {ft} ft')
  elif op == 2:
    Miles = float(a * 0.621371)
    print(f'{a} km after conversion is {Miles}  Miles')
  elif op == 3:
    INR = float(a * 85)
    print(f'{a} USD after conversion is {INR} INR')
  else:
    print("Invalid option. Please select a valid choice.")
    print('\n')
  op = int(input('Select the option '))

print("Exiting the program. Goodbye!")

Following are different options for conversions:
1. cm to ft
2. km to miles
3. USD to INR
4. exit

Select the option 7
Enter the value for conversion 78
Invalid option. Please select a valid choice.


Select the option 4
Exiting the program. Goodbye!

# Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.

Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [ ]:
# first two given terms
a = 0
b = 1
# list to store values of sequence
FB_series = [a, b]

# loop to calculate sequence upto 10 terms, value is 8 bcz fist two terms already given
for i in range(10):
  next = a + b
  FB_series.append(c)

  # swapping values in order to get previous two terms
  a = b
  b = next
print('Fibonacci Sequence after 10 terms:',FB_series)

Fibonacci Sequence after 10 terms: [0, 1, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89]

# Problem 6 - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

Output:

120

In [ ]:
# take input number to find factorial
num = int(input('Enter number for factorial: '))
# loop to get numbers until factorial number
fact = 1
for i in range(num, 0, -1):
  # calculating the factorial
  fact = fact * i
# output
print(f'{num}! = {fact}')

Enter number for factorial: 7
7! = 5040

# Problem 7 - Reverse a given integer number.

Example:

Input:

76542

Output:

24567

In [ ]:
# take input integer n.
n = int(input('Enter an integer: '))
rev_numb = 0

while n != 0:
# applying % to fetch last number     --> 76542   -->2
  last = n % 10
  rev_numb = rev_numb * 10 + last
  # applying // to reduce number        -->76542    -->7654
  n = int(n // 10)

print('Reverse numbers: ', rev_numb)

Enter an integer: 12345
Reverse numbers:  54321

# Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

Example 1:

Input:

30

Output:

276

In [ ]:
# take input integer N
n = int(input('Enter an integer: '))
sum = 0
i = 1
while i <= n:

  if i % 5 !=0:
    sum = sum + i
    if sum > 300:
      sum = sum - i
      exit()
  else:
    sum = sum + 0
  i = i + 1
print('sum after meeting all conditions: ',sum)

Enter an integer: 56
sum after meeting all conditions:  276




# Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# input from user
n = int(input('Enter a number: '))
sum = 0
counter = 1
while n != 0:
  sum = sum + n
  n = int(input('Enter a number: '))
  counter = counter + 1
else:
  avg = sum / counter
  print(f'Sum is: {sum} \nAverage is: {avg}')

Enter a number: 3
Enter a number: 2
Enter a number: 5
Enter a number: 7
Enter a number: 9
Enter a number: 0
Sum is: 26
Average is: 4.333333333333333

# Problem 9: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
res = []
for n in range(2000, 3200+1):
  if n % 7 == 0 and n % 5 != 0:
    res.append(str(n))
  else:
    continue
print(','.join(res))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
res = []
for n in range(1000, 3000+1):
  n_str = str(n)
  is_even = True

  for digit in n_str:
    if int(digit) % 2 != 0:
      is_even = False
      break
  if is_even:
    res.append(str(n))
print(','.join(res))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

# Problem 11: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.

The trace of robot movement is shown as the following:

UP 5

DOWN 3

LEFT 3

RIGHT 2

!

    The numbers after the direction are steps.

    ! means robot stop there.

Please write a program to compute the distance from current position after a sequence of movement and original point.

If the distance is a float, then just print the nearest integer.

Example:

Input:

UP 5
DOWN 3
LEFT 3
RIGHT 2
!

Output:

2

In [ ]:
pos = [0, 0]

while True:
  s = input('Enter the robot path: ')
  if s == '!':
    break

  direction = s.split()[0]
  steps = int(s.split()[1])

  if direction == 'UP':
    pos[1] = pos[1] + steps
  elif direction == 'DOWN':
    pos[1] = pos[1] - steps
  elif direction == 'LEFT':
    pos[0] = pos[0] - steps
  elif direction == 'RIGHT':
    pos[0] = pos[0] + steps
  else:
    pass

print((pos[0]**2 + pos[1]**2)**(1/2))

Enter the robot path: UP 3
Enter the robot path: DOWN 2
Enter the robot path: LEFT 5
Enter the robot path: RIGHT 2
Enter the robot path: !
3.1622776601683795

# Problem 12:Write a program to print whether a given number is a prime number or not

In [ ]:
num = int(input("Please enter a number:"))
if num <= 1:
  print("It's not a prime number")
else:
  for i in range(2, num):
    if num % i == 0:
      print("It's not a prime number.")
    else:
      print("It's a prime number")

Please enter a number:3
It's a prime number

# Problem 13:Print all the Armstrong numbers in a given range.

Range will be provided by the user

Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# take input range from user    --> range(0, 300) both are inclusive
SP = int(input('Enter starting point of range: '))
EP = int(input('Enter ending point of range: '))

lst = []
for i in range(SP, EP+1):
  temp_str = str(i)
  sum = 0
  for num in temp_str:
    num = int(num)
    sum = sum + num**3
  if sum == i:
      lst.append(i)
  else:
      continue
print(f"Armstrong numbers in range({SP}, {EP}) are: {lst}")

Enter starting point of range: 0
Enter ending point of range: 3000
Armstrong numbers in range(0, 3000) are: [0, 1, 153, 370, 371, 407]

# Problem 14:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:
H = 9 , M = 0
Output:
90
Explanation:
The minimum angle between hour and minute hand when the time is 9 is 90 degress.

In [ ]:
# minute hand moves 6 degree per minute     -->360 / 60 = 6
# hour hand moves at 30 degree per hour     -->360 / 12 = 30
    # but it also moves when a minute pass   --> extra movement = 0.5 per minute
    # so total movement oh hour hand = 30 x H + 0.5 x M
H = int(input("Enter hour's: "))
M = int(input("Enter minutes: "))

# Minute hand
MH = 6 * M
HH = 30 * H + 0.5 * M

# angle between hour hand and minute hand
# avoiding negative value
if HH > MH:
  angle = HH - MH
else:
  angle = MH - HH

# finding smaller angle
S_angle = 360 - angle

if S_angle < angle:
  print("Smaller angle is: ", int(S_angle))
else:
  print("Smaller angle is: ", int(angle))

Enter hour's: 7
Enter minutes: 27
Smaller angle is:  61