<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/01_Basics_of_Python_Programming/Operators_If-else_Loops/Topic_2_Operators%2C_if_else%2C_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operators in Python

    Arithmetic Operators
    Relational Operators
    Logical Operators
    Bitwise Operators
    Assignment Operators
    Membership Operators

In [ ]:
# Arithmatic Operators
print(5+4)

print(5-4)

print(5*4)

print(5/4)

print(5 //4)    # Integer division, it converts the decimal quotient into integer quotient

print(5%4)      # modulus operator, tell us remainder

print(5**4)     # power of operator

9
1
20
1.25
1
1
625

In [ ]:
# Relational operators

print(5 > 4)

print(5 < 4)

print(5 >= 5)

print(5 <= 5)

print(5 == 5)

print(5 != 5)

True
False
True
True
True
False

In [ ]:
# Logical operators

print( 1 and 0)

print(1 and 1)

print(1 or 0 )

print( not 1)

0
1
1
False

In [ ]:
# Bitwise operators.          Used in project making of computer vision

# Bitwise and
print( 2 & 3)

# Bitwise or operator
print(2 | 3)

# Bitwise not operator
print(~ 5)

# left shift
print(6 >> 2)

#right shift
print(6 << 2)

2
3
-6
1
24

In [ ]:
# Assignment operators

a = 2
print(a)

# we can use assignment operator with multiple operators

# a = a + 2
a += 2
print(a)

# a = a % 2
a %= 2
print(a)

2
4
0

In [ ]:
# Membership operators
# in / not in

print('P' in 'Pakistan')

print(1 in [2,3,5,4])


print('P' not in 'Pakistan')

print(1 not in [2,3,5,4])

True
False
False
True

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

c = number // 10

print(a + b + c)

Enter a 3 digit number666
18

# If-else in Python

In [ ]:
# login program and indentation
# email -> sadiagondal@gmail.com
# password -> 1357

# take email & pasword from user
email = input('Enter email: ')
password = input('Enter password: ')

if email == 'sadiagondal@gmail.com' and password == '1357':
  print('Welcome')

elif email == 'sadiagondal@gmail.com' and password != '1357':
  print('Incorrect password,try again')
  password = input('Enter password: ')
  if password == '1357':
    print('Finally you did it.')
  else:
    print('your luck is over')

else:
  print('Incorrect email or password')

Enter email: sadiagondal@gmail.com
Enter password: 2343
Incorrect password,try again
Enter password: 1357
Finally you did it.

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# minimum of 3 given numbers

a = int(input('Enter first number '))
b = int(input('Enter second number '))
c = int(input('Enter third number '))

if a < b and a < c:
  print(f'{a} is the smallest num')
elif b < c:
  print(f'{b} is the smallest num')
else:
  print(f'{c} is the smallest num')

Enter first number 5
Enter second number 1
Enter third number 3
1 is the smallest num

In [ ]:
# menu driven calculator

fnum = int(input('Enter 1st number '))
snum = int(input('Enter 2nd number '))

op = input("""
    1. press + for addition.
    2. press - for subtraction.
    3. press / for division.
    4. press * for multiplication.
""")

if op == '+':
  print(fnum+snum)
elif op == '-':
  print(fnum-snum)
elif op == '/':
  print(fnum/snum)
else:
  print(fnum*snum)

Enter 1st number 7
Enter 2nd number 9

    1. press + for addition.
    2. press - for subtraction.
    3. press / for division.
    4. press * for multiplication.
/
0.7777777777777778

# Modules in python

In [ ]:
#   math
#   keyword
#   random
#   datetime

In [ ]:
# math

import math

#math.sqrt(89)

#print(math.factorial(4))
math.floor(34.6)

34

In [ ]:
# keywords
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random

print(random.randint(1, 100))

100

In [ ]:
#datetime

import datetime

print(datetime.datetime.now())

2025-05-16 05:12:22.746164

# Loops in Python

*   Need for loops

*   While loop

*   For loop

In [ ]:
# Need for loops

# we need loops in order to perform certain task in repetion
# intead of writing same piece of code again and agian, we run that code in a loop
# practically they are mostly used in listing of products on shoping sites or hotels

In [ ]:
# while loop

num = int(input('Enter a number '))

i = 1
while i < 11:
  print(f'{num} * {i} = {num*i}')

  i += 1

Enter a number 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
# while loop with else

x = 1

while x < 3:
  print(x)

  x = x+1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# guessing game
# generate random number between 0 to 100
import random
jackpot = random.randint(0,100)

guess = int(input('Enter the guessing number '))

counter = 1

while guess != jackpot:

  if guess < jackpot:
    print('Wrong! guess higher number.')
  else:
    print('Wrong! guess lower')

  guess = int(input('Enter the guessing number '))

  counter += 1
else:
  print(f'Finally! you guess the right number in {counter} attempts')

Enter the guessing number 60
Wrong! guess lower
Enter the guessing number 40
Wrong! guess higher number.
Enter the guessing number 50
Wrong! guess lower
Enter the guessing number 47
Wrong! guess lower
Enter the guessing number 43
Wrong! guess lower
Enter the guessing number 41
Wrong! guess higher number.
Enter the guessing number 42
Finally! you guess the right number in 7 attempts

In [ ]:
# For loop demo
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# printing numbers in reverse order

for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# for loop can work with different data types

#for i in 'Pakistan':   #string
#for i in[1,3,5,6]:     #list
#for i in (10,9,8,7):   #tuple
for i in {3,4,6,8}:      #sets
  print(i)

8
3
4
6

# The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
current_population = 10000

for i in range(10, 0, -1):
  print(i, current_population)
  current_population = current_population / 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845