<a href="https://colab.research.google.com/github/Ayesha-Zaman/Intelligence-Journey-/blob/main/01_Basics_of_Python_Programming/Strings%20%20/Task_3(2)_Master_nested_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
n = int(input("Enter nth term: "))
sum = 0
fac = 1
result = 0
for i in range(1, n+1):
  fac = fac * i
  sum = i / fac
  result = result + sum
print('sequence sum: ', result)

Enter nth term: 3
sequence sum:  2.5

# Nested Loops

In [ ]:
# Example   --> unique pairs

for i in range(1, 5 +1):
  for j in range(1, 5+1):
    print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
rows = int(input("Enter number of rows "))
for  i in range(1, rows + 1):
  for j in range(1,i+1):
    print('*', end= '')

  print()

Enter number of rows 4
*
**
***
****

### Goal:


```
1
22
333
4444

```

In [ ]:
rows = int(input('Enter rows'))
for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print(i, end = '')
  print()

1
22
333
4444

### Print this pattern


```
make the following pattern using loops
1
12
123
1234
123
12
1

```

In [ ]:
rows = 4
for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print(j, end = '')
  print()

for k in range(rows - 1, 0, -1):
  for l in range(1, k + 1):
    print(l, end = '')
  print()

1
12
123
1234
123
12
1

### Pattern

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows4
1
121
12321
1234321

### Next Training Round


```
   1
  121
 12321
1234321

```

In [ ]:
rows = int(input("Enter rows"))

for i in range(1, rows+1):
  for j in range(rows, i, -1):
    print(' ', end = '')
  for k in range(1, i+1):
    print(k, end = '')
  for l in range(i-1, 0, -1):
    print(l, end = '')
  print()

Enter rows5
    1
   121
  12321
 1234321
123454321

### Print This Pattern


```
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

```

In [ ]:
rows = int(input('Enter rows '))

for i in range(1, rows+1):
  for j in range(rows, i, -1):
    print(' ', end = '')
  for k in range(1, i+1):
    print('*', end = ' ')
  print()

for l in range(1, rows):
  for m in range(1, l+1):
    print(' ', end= '')
  for n in range(rows, l, -1):
    print('*', end=' ')
  print()

Enter rows 4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

### Mixed Pyramid Pattern


```
        1
      1 * 2
    1 * 2 * 3
  1 * 2 * 3 * 4
1 * 2 * 3 * 4 * 5
  1 * 2 * 3 * 4
    1 * 2 * 3
      1 * 2
        1

```

In [ ]:
rows = 5

for i in range(1, rows+1):
  for j in range(rows, i, -1):
    print(' ', end= ' ')
  for k in range(1, i+1):
    if k < i:
      print(f'{k} * ', end= '')
    else:
      print(k, end='')
  print()

for l in range(rows-1, 0, -1):
  for m in range(l, rows):
    print(' ', end=' ')
  for n in range(1, l+1):
    if n < l:
      print(f'{n} * ', end= '')
    else:
      print(n, end='')
  print()

        1
      1 * 2
    1 * 2 * 3
  1 * 2 * 3 * 4
1 * 2 * 3 * 4 * 5
  1 * 2 * 3 * 4
    1 * 2 * 3
      1 * 2
        1

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# Break: it stops the whole loop
# break statement mostly used in searching of something, like we have 10k people's dataset,
# and we want to find a particular persons data if we find that persons data we will not lookinto the whole database we will stop searching when we wil get desired result.

In [ ]:
# Break example

for i in range(1, 10+1):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
# finding prime numbers in a given range

lower = int(input("Enter lower range "))
upper = int(input("Enter upper range "))

for i in range(lower,upper+1):
  for j in range(2, i):
    if i%j == 0:
      break
  else:
    print(i)

Enter lower range 10
Enter upper range 50
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# continue: it skips the particuar iteration and then contunue the loop
# Example: on e-commerce site, skipping the out of stock products in the listing of products

In [ ]:
# continue example:
for i in range(1,10):
  if i == 5:
    pass
  else:
    print(i)

1
2
3
4
6
7
8
9

In [ ]:
# pass
# we use pass statement when we don't want to write any piece of code
# and don't want interpreter to through any error

for i in range(1,10):
  pass